.category-container {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

/* @media screen and (min-width: 800px) {
    .category-container  {
        flex-direction: row;
    }
} */