.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin: 16px 0 16px 16px;
  flex-wrap: wrap;
}

.breadcrumbs a {
  color: #747474;
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumbs a:hover {
  color: #3a3a3a;
}

.separator {
  margin: 0 6px;
  color: #555;
}

.current {
  color: #555;
  font-weight: bold;
}
